@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*
{
    box-sizing: border-box;
   
}

body{
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 150vhvh;
    font-family: 'Lato' , sans-serif;
    margin: 0;
}

.movie-container
{
    margin: 50px , 50px;
}


.movie-container select
{
    background-color : rgb(171, 171, 212);
    border-color: rgb(168, 46, 132);
    border: 1px ;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 10px;
    padding: 1px 15px 5px 15px;
    appearance: safari;
  }

.seat
{
    background-color: #444451;
    height: 20px;
    width: 30px;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.row
{
    display: flex;
}

.seat.selected
{
    background-color: rgb(42, 189, 128);
}

.seat.occupied
{
    background-color: rgba(235, 30, 30, 0.767);
}

.seat:nth-of-type(2)
{
    margin-right: 20px;
}

.seat:nth-last-of-type(2)
{
    margin-left: 20px;
}

.seat:not(.occupied):hover
{
    cursor: default;
    transform: scale(1.1);
}


.legend .seat:not(.occupied):hover
{
    cursor: default;
    transform: none
}

.legend{
    
    padding: 0px  50px 20px 0px;
    border-radius: 8px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45px;

}


.legend li{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 1px 40px;
    padding-bottom: 50px;
    
}

.legend li small{
    margin-top: 20px;
    margin-left: 0px;
    display: block;
}


.legend li small
{
    margin-left: 40px;
}

.screen
{
    background-color: rgb(218, 211, 211);
    width: 100%;
    height: 100px;
    margin: 30px 0px;
    transform: rotateX(-45deg);
    box-shadow: 0px 3px 10px rgba(255, 255, 255, .7);

    
}

.container{
    perspective:500px;
    margin-bottom: 40px;
}

p.text span{
    color: rgb(38, 228, 235);
} 

